extends layout

block content
  #wrapper
    h3 Card ID
    ul
      li Tested with MIFARE 1k and Ultralight so far
      li Hopefully your card has a label with its UID on it
      li If not, you can use an app like 
        a(href="https://play.google.com/store/apps/details?id=vincenti.jean.marie.nfc_uid_reader&hl=en") NFC_UID_Reader for Android

