extends layout

block content
  #wrapper

    h2 Add or Update Card
    #addCard
      fieldSet
        #inputs
          label(for='inputCardId',class='control-label') Card ID 
            a(href="#", onclick="alert('TODO')") [?]
          input#inputCardId(type='text', placeholder='AABBCCDD')
          br
          label(for='inputTrack',class='control-label') Track URI
          input#inputTrack(type='text', placeholder='https://open.spotify.com/track/61X11F7Hx7TubRYAu9KOdk')
          br
          label(for='inputSearch',class='control-label') &nbsp;
          input#inputSearch(type='text', placeholder='Search...')
          #searchresult
        label(for='btnAddCard',class='control-label') &nbsp;
        span
          button#btnAddCard Update
          label(for='statusMessage',class='control-label') &nbsp;
          #statusmessage
        br
        iframe#preview( src="https://embed.spotify.com/?uri=https%3A%2F%2Fopen.spotify.com%2Ftrack%2F61X11F7Hx7TubRYAu9KOdk",
                          width="300",
                          height="80",
                          frameborder="0",
                          allowtransparency="true",
                        )
          br
          label(for='preview',class='player-label') Opens in Spotify app
