extends layout

block content
  #wrapper

    h2 Add or Update Card
    #addCard
      fieldSet
        input#inputCardId(type='text', placeholder='AABBCCDD')
        br
        input#inputTrack(type='text', placeholder='https://open.spotify.com/track/61X11F7Hx7TubRYAu9KOdk')
        br
        button#btnAddCard Update
    #statusmessage
      div
      
