body {
  padding: 30px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  vertical-align: middle;
}

h2 {
	margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}

input {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 800px;
  padding: 10px; margin: 10px;
}

button {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px; margin: 10px;
  vertical-align: middle;
}

#wrapper {
	position:relative;
}

fieldset {
	border:0;
	padding:10; margin:10;
}

#statusmessage {
  visibility: none;
  font-size: 20px;
}

#searchresult {
  visibility: none;
  font-size: 16px;
  font-style: italic;   
  display: inline-block;
  text-indent: 140px;
}

.control-label {
  display: inline-block;
  width: 120px;
}

.player-label {
  font-size: 12px;
}

#preview {
  visiblity: hidden;
  display: none;
}
